{% extends 'base.html' %}

{% block titulo %}Minha Clínica 2024 - Relatório Pacientes {% endblock %}
{% block conteudo %}
        <article>
            <h1>Relatório de Pacientes</h1>
            <table class="striped">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Telefone</th>
                        <th>Cidade</th>
                        <th>Idade</th>
                    </tr>
                </thead>
                <tbody>
                    {% for p in pacientes %}
                    <tr>
                        <td>{{ p.nome }}</td>
                        <td>{{ p.telefone }}</td>
                        <td>{{ p.cidade }}</td>
                        <td>{{ p.idade }}</td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="4">Não existem pacientes cadastrados</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <button id="btnGerarRelatorio">Gerar Relatório</button>

            <div id="popupGerarRelatorio" style="display: none;">
                <h2>Selecione o Tipo de Relatório:</h2>
                <button id="btnRelatorioPacientes">Pacientes</button>
                <button id="btnRelatorioPacientesporConv">Pacientes por Convênio</button>
                <button id="btnRelatorioConsultas">Consultas</button>
                <button id="btnRelatorioPacienteporAno">Consultas por ano</button>
            </div>

            <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {

        $("#btnGerarRelatorio").click(function() {
            $("#popupGerarRelatorio").show();
        });

        $("#btnRelatorioPacientes").click(function() {
            window.open("{% url 'pdf_pacientes' %}", "_blank") ;
        });

        $("#btnRelatorioPacientesporConv").click(function() {
            window.open("{% url 'pdf_pro_conv' %}", "_blank") ;
        });

        $("#btnRelatorioConsultas").click(function() {
            window.open("{% url 'pdf_consulta' %}", "_blank") ;
        });

        $("#btnRelatorioPacienteporAno").click(function() {
            window.open("{% url 'pdf_pac_por_ano' %}", "_blank") ;
        });

    });
</script>



        </article>
{% endblock %}